.slideout{
    animation: Slideout .5s ease-in-out;
}

@keyframes Slideout{
    0%{
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0%);
    }
}

.showlight{
    animation: showlight .5s ease-in-out;
    transform: translateY(125%);
}

@keyframes showlight{
    0%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(125%);
    }
}
